/* Reset Basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Corpo da página */
body {
    background: #0e0e0e;
    overflow: hidden; /* evita scroll */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* Conteudo Central */
.hero {
    position: relative;
    z-index: 1; /* acima do canvas */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-align: center;
}

/* Título Principal */
.hero h1 {
    font-size: 4.5rem;
    letter-spacing: 6px;
    margin-bottom: 30px;
    opacity: 0.9;
    animation: fadeUp 1.5 ease forwards;
}

/* Botão de Ação */
.btn {
    text-decoration: none;
    color: #0e0e0e;
    background: white;
    padding: 14px 36px;
    border-radius: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease;
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.1s;
}

.btn:hover {
    background: #cccccc; /* cinza */
}


@keyframes fadeUp {
    from {
        opacity: 0.6;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
