body {
    background: #0e0e0e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.product-page {
    max-width: 1100px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    .product-page {
        grid-template-columns: 1fr;
        margin: 40px 20px;
}}

.product-gallery img {
    width: 100%;
    border-radius: 10px;
}

.product-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #d10000;
}


.product-info p {
    margin: 20px 10px 20px 0px;
}


.price {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.sizes button {
    background: #141414;
    border: 1px solid #444;
    color: white;
    padding: 8px 14px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}


.sizes button.active {
    border-color: #d10000;
    background-color: #d10000;
    color: white;
}


.sizes button:hover {
    border-color: #d10000;
}


.buy-btn {
    background:#d10000;
    color: white;
    border: none;
    padding: 16px 28px;
    width: 100%;
    font-size: 1rem;
    margin: 20px 10px 20px 0px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}


.buy-btn:hover {
    background: #960000;
}

.description h2 {
    margin-bottom: 10px;
}


.recommended {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}


.recommend h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    letter-spacing: 3px;
}


.recommend-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}


.recommend-grid article {
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}


.recommend-grid article:hover {
    transform: translateY(-4px);
}


.recommend-grid img {
    width: 25%;
    max-height: 220px;
    max-width: 220px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 6px;
}


.recommend-grid h3 {
    font-size: 0.9rem;
    color: #d10000;
    margin-bottom: 12px;
}


.recommend-grid p {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 12px;
}


.recommend-grid a {
    background-color: #d10000;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}


.recommend-grid a:hover {
    background-color: #960000;
    transition: 0.5s;
}

footer {
    text-align: center;
    padding: 30px 0;
    font-size: 0.8rem;
    color: white;
}

