/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*estilos*/ 

h1{
    
    text-align: center;
    color: white;
    margin-top: 40px;
}


/* fundo preto no shop */
body {
    background: #0e0e0e;
}

/* Estilos para o título da seção */

section h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 60px;
    letter-spacing: 4px;
}

section p{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1.0rem;
}

main {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

main section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

article {
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

article:hover {
    transform: translateY(-8px);
}

article img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 16px;
}

article h3 {
    color:#d10000;
    font-size: 1rem;
    margin-bottom: 8px;
}

article p {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 0.9rem;
    margin-bottom: 16px;
    color: white;
}

article button {
    background-color: #d10000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s; 
}



article button:hover {
    background-color: #960000;
}


.countdown {
    text-align: center;
    margin-top: 20px;
}

.countdown p {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 6px;
}


#timer {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d10000;
    letter-spacing: 2px;    

}

footer {
    text-align: center;
    padding: 30px 0;
    font-size: 0.8rem;
    color: #777777;
}
